
.discord {
  padding-top: 10rem;
  padding-left: 6rem;
  display: flex;
  flex-direction: row;
}

.contactImg {
  width: 20rem;
  margin-left: 10rem;
  margin-top: 6rem;
}

.githubMain {
  width: 40rem;
  margin-left: 18rem;
}

.githubMain > p {
  color: silver;
  margin-top: 4rem;
  margin-left: 7rem;
  width: 30rem;
  font-size: 20px;
}

.github {
  margin-left: 5rem;
  margin-top: 4rem;
  flex-direction: row;
}

.octocat {
  width: 5rem;
}
