.home {
  background-image: url("../content/Part Time Devs 3D Mockup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 45%;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.signUp {
  margin-top: 42rem;
  margin-left: 45rem;
  border-radius: 6rem;
  border: none;
  font-size: 16px;
  width: 10rem;
  height: 3rem;
  background-color: #5c5d5f;
  cursor: pointer;
  color: #27aae2;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp:hover {
  background-color: #27aae2;
  color: silver;
}
