.navContainer {
  background-color: silver;
  position: sticky;
  height: 10vh;
  width: 100%;
  align-items: center;
  box-shadow: 10px 6px 10px grey;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

button {
  border-radius: 6rem;
  border: none;
  font-size: 16px;
  width: 10rem;
  height: 3rem;
  background-color: grey;
  margin-top: 1rem;
  transition: 2s;
}

button:hover {
  color: white;
  background-color: teal;
}

a {
  text-decoration: none;
  color: silver;
}
